AlignAfterOpenBracket: false
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
BasedOnStyle: LLVM
IncludeBlocks: Regroup
IndentCaseLabels: true
QualifierAlignment: Left
RemoveBracesLLVM: true
RemoveParentheses: MultipleParentheses
SeparateDefinitionBlocks: Always
